
<!--
.bg1 {background-color: #003366;}

.bg3 {background-color: #003366;}

.bgtabon {background-color: #791717;}

.bgtaboff {background-color: #003366;}

.texttabon {color: #FFFFFF;}

.texttaboff {color: #FFFFFF;}

td.tabon { background-color: #791717; color: #FFFFFF; }
.tabon A:link { color: #FFFFFF; }
.tabon A:visited { color: #FFFFFF; }
.tabon A:active { color: #FFFFFF; }
.tabon A:hover { color: #FFFFFF; }

td.taboff { background-color: #003366; color: #FFFFFF; }
.taboff A:link { color: #FFFFFF; }
.taboff A:visited { color: #FFFFFF;  }
.taboff A:active { color: #FFFFFF;  }
.taboff A:hover { color: #FFFFFF;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #003366;}
.setupBox {border:2px #791717 solid;}
-->

