{% extends "layout.html" %}
{% block content %}

<div class="container" style="margin: 0px 0px 0px 0px;">

  <h3>Social Engineering and You</h3>
  <hr>
  <p style="margin-bottom: 0px;">Below are some emails. Look at the emails and try to identify any
    signs the ones that are phishing emails. After you have identified the
    phishing emails, select the ones that you suspect are phishing attacks using
    the provided checkboxes.</p>
    <div style="float:left; margin-right: 20px;">
      <h3>1.</h3>
      <img src="../static/images/spam1.png">
    </div>
    <div style="float:right;">
      <h3>2.</h3>
      <img src="../static/images/spam2.png">
    </div>

    <div style="margin: 650px 0px 0px 0px; outline-width: 2px;">
      <form action="." method="POST">
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="1">Email 1</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="check" value="2">Email 2</label>
        </div>
        <button id="submit" name="submit" value="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

  {% endblock %}
