{% extends "layout.html" %}
{% block content %}
<h3 style="margin: 15px 0px 0px 0px;">Password Security</h3>
<hr>
<ul style="margin: 15px 0px 0px 0px;" class="list-group">
    <li class="list-group-item"><a href="{{ url_for('passwordStrength') }}">1. Password Strength</a></li>
    <li class="list-group-item"><a href="{{ url_for('passwordCracking') }}">2. Password Cracking</a></li>
    <li class="list-group-item"><a href="{{ url_for('defaultPasswords') }}">3. Default Passwords</a></li>
</ul>
{% endblock %}
