


{% extends "layout.html" %}
{% block content %}
<div class="container">
<div style="position: relative;">
    <img src="../static/images/certificate.jpg" height="720" width="960">
    <div id="name" style="position: absolute;top: 290px;left: 205px;width: 100%;">
    </div>
    <div id="for" style="position: absolute;top: 390px;left: 205px;width: 100%;">
      <h2>Completion of CSAM</h2>
    </div>
    <div id="date" style="position: absolute;top: 500px;left: 205px;width: 100%;">
    </div>
    <div id="signed" style="position: absolute;top: 500px;left: 620px;width: 100%;">
      <h2>CSAM</h2>
    </div>  

</div>
<div style="float:right;">
<div style="float:right;">
<a href=" {{ url_for('index') }}"><button class="btn btn-info">Done</button></a>
</div>
</div>
</div>

<!--
<div style="margin-top: 30px">
<a href="{{ url_for('index') }}"><button class="btn btn-info"style="margin: 0px 0px 0px 995px;">Done</button></a>
</div>
-->

<script>
  var input = prompt("Please enter your name");
  var name_div = document.getElementById('name');
  name_div.innerHTML = name_div.innerHTML + '<h2>' + input + '</h2>';
  var date_div = document.getElementById('date');
  var d = new Date()
  date.innerHTML = date.innerHTML + '<h2>' + (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear() + '</h2>';
</script>

{% endblock %}