{% extends "layout.html" %}
{% block content %}

<div style="margin: 15px 0px 0px 0px;" class="container">
    <h3 style="margin: 0px 0px 30px 0px;">Password Strength & Cracking</h3>
    <hr>
    <p style="margin: 15px 0px 0px 0px;">
        The best way that users can protect their passwords from cracking is to ensure they choose strong passwords. Typically, passwords must contain a combination of mixed-case random letters, digits and symbols. Strong passwords should never be actual words. In addition, strong passwords are at least eight characters long. 
    </p>
    <p style="margin: 15px 0px 15px 0px;">
        A general formula for calculating the complexity of a password is # of possible unique characters ^ how many characters in the password. For example if your password consist of only eight lowercase letters you have 26 ^ 8 or 208,827,064,576 possibilities. Including numbers as well as lowercase letters in your eight character password increases its complexity to 36 ^ 8 or 2,821,109,907,456 possibilities. 
    </p>
    <h5>Try passwords and see if they meet recommended requirements for complexity.</h5>
    <form action="." method="POST" class="col-md-4" style="margin: 15px 0px 0px 0px;">
        <div class="row">
            <input type="password" class="col-md-6 form-control" required="required" name="password" style="margin: 0px 10px 0px 0px;" placeholder="Enter a password"  />
            <button class="btn btn-default" style="margin: 20px 10px 0px 0px;">Check Password</button>
        </div>
    </form>
</div>
{% endblock %}
