{% extends "layout.html" %}
{% block content %}

<div class="container" style="margin: 0px 0px 0px 0px;">

    <h3>Password Strength and Cracking</h3>
    <hr>
    <p style="margin: 15px 0px 0px 0px;">
        Password cracking is the process of discovering computer passwords. There are two approaches to cracking passwords:
        brute force and dictionary attacks. Brute force attacks work by trying every possible combination of characters
        that could be the password. This takes time, but you are guaranteed to find an answer eventually. 
        Dictionary attacks work by enumerating a dictionary of common words and checking to see if the password is in the dictionary.
        This has the advantage of being faster, but it is possible the password is not in the dictionary and will not be found.
    </p>

    <h5 style="margin: 15px 0px 0px 0px;">Try common dictionary words or low complexity passwords to see how quickly they can be cracked.
        Compare the advantages and disadvantages of the dictionary attack vs the brute force attack.
    </h5>

    <h5 style="margin-top: 20px;"><b>Passwords are limited to 5 lowercase letters for the demonstration, cracking larger passwords would take more time.</b></h5>


    <form action="." method="POST" class="col-md-4" style="margin: 0px 0px 0px 0px;">
        <!--
        <div class="row">
          <select class="form-control col-md-4" name="option" >
              <option value="dictionary">Dictionary</option>
              <option value="bruteforce">Bruteforce</option>
          </select>
        </div>
        -->
        <div class="row">
          <input style="margin: 15px 0px 0px 0px;" pattern="^([a-z]{1,5})$" required="required" title="Please enter a lowercase password with less than 6 characters" type="password" class="col-md-6 form-control" name="password"  placeholder="Enter a password" />
          <button style="margin: 15px 0px 0px 0px;" id="submit" class="btn btn-default">Crack Password</button>
        </div>
    </form>
       
</div>

{% endblock %}
