{% extends "layout.html" %}
{% block content %}

<div class="container" style="margin: 15px 0px 0px 0px;">

	<h3>Social Engineering: Phishing and You [4/6]</h3>
	<hr>

	<p>
		Phishing (aka Email Scams): A malicious entity contacts you, masquerading as a legitimate business and asks for information, directs you to a false website that will harvest your information, or otherwise tries to rip you off and exploit you.
	</p>

	<h3>Phishing Email Warning Signs</h3>
	<p><b>1. Requests for personal information.</b> Facebook (or any legitimate site) won't ask for your personal info, they already have all of  it.</p>
	<p><b>2. Generic greeting.</b> Phishing attempts are most often shotgun blasted at a group of targets and thus are rarely personalized.</p>
	<p><b>3. Urgency.</b> Any email that starts with, "DO x NOW OR YOUR ACCOUNT/MONEY/DIGNITY/OPPORTUNITY IS LOST FOREVER!" should immediately be met with suspicion. Scam artists love fear. Fear makes you stupid, pliable, and easy.</p>
	<p><b>4. Forged/fake/"funny" links.</b> It's super easy to make links look like legitimate links. For example this link: <a href="http://www.ebay.com" target="_blank">http://www.amazon.com</a> does not lead to where you think it would. You can often check where a link goes by hovering your mouse over a link and checking the bottom left corner of your web browser. For an example of what to look for, check <a href="/static/images/linkChecking.png" target="_blank">this image</a>.</p>  
</p>


<div style="float:right; margin-top: 20px;">
	<div style="float:left; margin-right: 20px; ">
		<a href="{{ url_for('defaultPasswords') }}"><button class="btn btn-info">Go back</button></a>
	</div>
	<div style="float:right;">
		<a href="{{ url_for('detectingPhishing') }}"><button class="btn btn-info">Next</button></a>
	</div>
</div>


</div>

{% endblock %}
