{% extends "layout.html" %}
{% block content %}

<div class="container" style="margin: 15px 0px 0px 0px;">

    <h3>Web Security [6/6]</h3>
    <hr>

    <p style="margin-bottom: 20px; margin-top: 20px">
        Many web browsers are configured to provide increased functionality at the cost of decreased security.
    </p>

    <p style="margin-bottom: 20px; margin-top: 20px">
        Common tools in browsers that provide functionality are: Cookies, Pop-ups, Plug-ins, scripting languages such as Javascript  and VBScript.
    </p>

    <img src="../static/images/image02.png" style="margin-right: 15px; height:100px; width:100px; float:left;">
    <p style="margin-bottom: 70px; margin-top: 40px;">
        <b>Cookies</b> are files placed on your system to store data for specific websites. A cookie can contain any information that a website is designed to place in it - information about the sites you visit or even credentials for accessing the site.  If an attacker can obtain the cookie for a site on your computer, then they may have access to your account on that site! Cookies can also be used to uniquely identify visitors of a website, which some people consider a violation of privacy.
    </p>

    <img src="../static/images/image00.jpg" style="float:left;height:100px; width:100px;">
    <p style="margin-bottom: 80px; padding-top: 30px;">
        <b>Plug-ins</b> are applications intended for use in the web browser such as Adobeflash. Plug-ins may contain programming flaws that may put your computer at risk.  For example poorly written programs may result in a buffer overflow crashing your computer!
    </p>

    <img src="../static/images/image01.png" style="float:left;height:100px; width:100px;">
    <p style="margin-bottom: 20px; margin-top: 50px;padding-top: 40px;">
        <b>Javascript  or VBScript</b> are scripting languages that  are used to make websites more interactive.  Maliciously written scripts may introduce vulnerabilities in your system. For example, they may contain malware that escape the Antivirus software!
    </p>

    <p style="margin-top: 90px;">
        In almost any browser, you can disable, restrict, or allow the use of these tools.  See below for quick instructions on how to get to the settings pages for these tools:
    </p>

    <h3 style="margin-bottom: 20px; margin-top: 20px">
        Chrome browser:

    </h3>




    <p style="margin-bottom: 20px; margin-top: 20px">
        <ol>
            <li>Type chrome://settings in the url box  OR  click the Chrome menu   on the browser toolbar and select  Settings</li>
            <li>Click on “Show advanced settings” at the bottom of the page.</li>
            <li>Scroll down to see “Privacy” and click on “Content settings…” box.</li>
            <li>This screen allows you to set the settings as you prefer.</li>
        </ol>
    </p>

    <p style="margin-bottom: 20px; margin-top: 20px">Before you make changes in your settings visit <a href="https://support.google.com/chrome/answer/114662">Chrome’s support page on content settings</a></p>

    <h3 style="margin-bottom: 20px; margin-top: 20px">

        Firefox Browser:  

    </h3>

    <img src="../static/images/image03.png" style="height:281px; width:400px; margin-bottom: 20px;">

    <p style="margin-bottom: 20px; margin-top: 20px">
        Before you make changes in your settings visit <a href= "https://support.mozilla.org/en-US/products/firefox/protect-your-privacy">Firefox’s support page on content settings.</a>
    </p>
    <h3>To change your FireFox security settings:</h3>
    <div>
        <ol>
            <li>Open Internet Explorer by clicking the Start button, and then clicking Internet Explorer.</li>
            <li>Click the Tools button, and then click Internet Options.
            </li>
            <li>Click the Security tab.
            </li>
            <li>Click the Internet icon.</li>
            <li>Select configurations that are secure and recommended.
            </li>
        </ol>
    </div>


    <h3 style="margin-bottom: 20px; margin-top: 20px">
        Microsoft Internet Explorer 10: 
    </h3>
    <p>
        Read about<a href= "http://windows.microsoft.com/en-us/windows-vista/security-and-privacy-features-in-internet-explorer-8"> privacy and security features of Internet Explorer here.</a>
    </p>
    <div>
        <p>To change your Internet Explorer security settings:</p>
        <ol>
            <li>Open Internet Explorer by clicking the Start button , and then clicking Internet Explorer.</li>
            <li>Click the Tools button, and then click Internet Options.
            </li>
            <li>Click the Security tab.</li>
            <li>Click the Internet icon.
            </li>
            <li>Select configurations that are secure and recommended.
            </li>
        </ol>
    </div>
    <div>
        <img src="../static/images/image04.png" style="height:260; width:238;">
    </div>
    <p>
        For more information on how to secure your browser visit <a href="https://www.us-cert.gov/publications/securing-your-web-browser#how_to_secure">https://www.us-cert.gov/publications/securing-your-web-browser#how_to_secure</a>
    </p>




    <div style="float:right; margin-top: 20px;">
        <div style="float:left; margin-right: 20px; ">
            <a href="{{ url_for('detectingPhishing') }}"><button class="btn btn-info">Go back</button></a>
        </div>
        <div style="float:right;">
            <a href="{{ url_for('passwordCompletion') }}"><button class="btn btn-info">Next</button></a>
        </div>
    </div>


</div>

{% endblock %}
